.quiz-container{
    text-align: center;
    padding-top: 50px;
    .quiz-header-text {
        padding-bottom: 30px;
    }
    .quiz-wrapper{
        width: 80%;
        margin: auto;
        padding: 20px;
        background: white;
        box-shadow: 10px 10px 5px #aaaaaa;
        .timer-section {
            font-size: 20px;
            #icon-timer {
                padding-right: 10px;
                font-size: 25px;
                float: right;
            }
            .countdown-section{
                float:right;
            }
        }
        .submit-skip-buttons{ 
            margin-top: 20px;
            display: flex;
            justify-content: space-between;
            .skip-button {
            width: 100px;
            border-radius: 0px;
            }
            .submit-button {
                width: 150px;
                border-radius: 0px;
            }
        }
        .question {
            margin: 30px 20px 15px 20px;
            font-size: 18px;
            display: flex;
            font-weight: bold;
        }
        .options-wrapper{
            display: block;
            margin: 20px 20px 15px 20px;
            text-align: left;
            .option-flex{
                display:inline-flex;
                padding-bottom: 10px;
            }
           .option-text {
             padding-left:20px;
             font-weight: normal;
            //  display: list-item;
             list-style-type: lower-alpha;
             /* padding-left: 20px; */
             list-style-position: inside;
           }
           .option-text:before {
               content: ")";
               padding-right: 10px;
           }
        }
        .buttons-container{
            margin:30px;
            display: flex;
            justify-content: center;
            .previous-button{
                width: 100px;
                border-radius: 0px;
                margin-right: 30px;
            }
            .next-button{
                width: 100px;
                border-radius: 0px;
            }
        }
    }
    .error-msg{
        color: red;
        font-size: 14px;
    }
    .result-wrapper {
        padding-top: 10px;
        a{
            float: right;
            font-size: 16px;
            color: #0ac;
            text-decoration: underline;
        }
        .result-text{
            font-size: 18px;
        }
        .product-chart{
            width: 50%;
            margin: auto;
            padding: 30px;
            // background: #f7f7f7;
            @media (min-width: 768px) and ( max-width: 1023px ){
                width: 80%;
            }
        }
    }
}